<h1>About Ride the Bus</h1>
<p>Find me in app/views/pages/about.html.erb</p>

You can kind of infer the rules of the game from this image alone:

<% tag.br %>

<%= image_tag("ride_the_bus_schedule_1.jpg") %>

<% tag.br %>

<%= link_to "Optimal betting strategy", "https://www.thegamer.com/schedule-1-ride-the-bus-casino-game-winning-strategy-how-to-guide/" %>
