<div class="wa-split">
  <div class="wa-cluster wa-body-xl wa-success">
    <%= link_to root_path do %>
      <i class="fa-solid fa-bus" style="color: #2f6536;"></i>
      Ride the Bus
    <% end %>
  </div>
  <div class="wa-align-items-end">
    <%= link_to "Login", new_session_path unless authenticated? %>
    <%= link_to "Hello, #{Current.user.nickname}", edit_user_path if authenticated? %>
    <%= link_to "Log out", session_path, data: { turbo_method: :delete } if authenticated? %>
  </div>
</div>

