<div class="wa-split">
  <div class="wa-cluster">
      <i class="fa-duotone fa-solid fa-bus" style="--fa-primary-color: #1b6424; --fa-secondary-color: #1b6424;"></i>
      Ride the Bus
  </div>
  <div class="wa-align-items-end">
    <%= link_to "Login", "https://www.google.com" %>
  </div>
</div>

