<div class="wa-split">
  <div class="wa-cluster wa-body-xl wa-success">
    <i class="fa-solid fa-bus" style="color: #2f6536;"></i>
    Ride the Bus
  </div>
  <div class="wa-align-items-end">
    <%= link_to "Login", "https://www.google.com" %>
  </div>
</div>

